<h1><a href="/mt_batches/tags">Tags</a> | <a href="/mt_batches/instructions">Instructions</a></h1>

<form method="POST" action="">
	<table>
	{% for field in form %}
   		<tr>
		{% ifnotequal field.label "Submitted tasks" %}
    		<td>{{ field.label_tag }}</td>
       		<td>{{ field }}</td>
		{% else %}
    		<td>{{ field.label_tag }}</td>
    		<td><ul>
       		{% for choice in form.base_fields.submitted_tasks.choices %}
    			<li><a href="https://requester.mturk.com/mturk/manageHIT?viewableEditPane=manageHIT_downloadResults&HITId={{ choice.1 }}">{{ choice.1 }}</a></li> 
			{% endfor %}
			</ul></td>
		{% endifnotequal %}
        </tr>
	{% endfor %} 
	</table>
    </br>
    <input type="submit" value="Submit to Mechanical Turk!" />
</form>